<span class="small-text hide-on-mobile">
	<a href="./api/leaving/?for=https://www.instagram.com/dinkompisper/&amp;referrer=Website" target="_blank"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i> dinkompisper</a>
</span> 
<span class="small-text hide-on-mobile">
	<a href="./api/leaving/?for=https://www.twitter.com/p3r&amp;referrer=Website" target="_blank"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> p3r</a>
</span> 
<span class="small-text hide-on-mobile">
	<a href="./api/leaving/?for=https://www.linkedin.com/in/hejkompis/&amp;referrer=Website" target="_blank"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i> Per</a>
</span> 
<span class="spotify_current small-text hide-on-mobile">
	<a href="./api/leaving/?for=https://open.spotify.com/user/amadore&amp;referrer=Website"><i class="fa fa-fw fa-spotify" aria-hidden="true"></i> amadore</a>
</span>