# Created by https://www.gitignore.io/api/git,vagrant,composer

.DS_STORE
/cache/
cache/
/logs/
logs/
/api/adminer/*

### Composer ###
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### Git ###
*.orig

### Vagrant ###
.vagrant/

### Blog pages ###
/user/pages/blog/*
!/user/pages/blog/.gitkeep
!/user/pages/blog/default.md

/api/db-settings.php

# End of https://www.gitignore.io/api/git,vagrant,composer